<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>slambook-dev</title>
    <meta name="description" content="Lowdb Example" />
    <!--     <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1 class="bold">
        write on my wall
      </h1>
    </header>

    <main>
      <p>enter your nickname, and create your own wall</p>
      <form method="POST" action="/users">
        <input
          id="name"
          name="name"
          type="text"
          maxlength="100"
          placeholder="thangu"
          required
        />
        <button type="submit">create</button>
      </form>
      <div id="warning"></div>
    </main>

<!--     <script src="/client.js"></script> -->
  </body>
</html>
